
 
header {
    background-color: rgb(220, 53, 69);
    min-height: 15vh;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-left: 95px;
    font-size: 50px;
}
 
main {
    background-color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}
 

nav, main {
    min-height: 70vh;
}

nav, #menu {
    background-color: darkgray;
    padding: 40px;
    font-size: 7px;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    text-align: left;   
    margin-left: 3px;
    list-style: none;  
    font-size: 6px; 
}
li {
    display: inline;
    margin-right: 500px;
    font-size: 15px;
    
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    text-align: right;
    padding: 50px;
    
    
}
a:hover {
    color: #ffffff; /* cor ao passar o mouse */
}

footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 10px;
    text-align: center;
    min-height: 5vh;
}
